.fullwidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}
.round-img {
 -moz-border-radius: 50% 50%;
 border-radius: 50% 50%;
}

#icc-hero img { margin:0 ; height: 400px;} 
#icc-wrap {}

#icc-home {
 background-image:url("../img/construction_02.jpg") ;
 margin:0;
 padding-top: 3em;
 padding-bottom: 2em; 
 color: #333;
 
 }
.icc-menu { 
  position: absolute;
  z-index: 999;
  font-size: 26px;
}
#icc-footer {
  height: 5em;
}
.icc-topspace { padding-top: 1em }
