
.fullwidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}
.round-img {
 -moz-border-radius: 50% 50%;
 border-radius: 50% 50%;
 border: solid 1.3em #FFD42A;
}

#icc-hero img { margin:0 ; height: 400px;} 
#icc-wrap {}

.logo { position: absolute; z-index:999; vertical-align: baseline; }
.nombre h3 { position: absolute; color: #A00; } 
.top-space { margin-top: 2em; }

#icc-home {
 margin:0;
 padding-top: 5em;
 padding-bottom: 2em;
}

#icc-contact {
 background-image:url(../img/icc_background_index.jpg) ;
 margin:0;
 padding-top: 3em;
 padding-bottom: 2em; 
 color: #333;
 
 }

.contac-row { padding: 2em; }

footer  {
 background: #FFD42A;
 padding: 0.5em;
}
footer a { color: #AA0000; }

.icc-topspace { padding-top: 1em }
li.name a { margin-left: 4em; color: black; } 

.top-bar, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .has-form {
 background: #FFD42A;
 color: #AA0000;
 }
.top-bar-section ul li a { color: #AA0000 ; font-size: 1.1em; }
.top-bar-section li:not(.has-form)  a:not(.button):hover { background-color: #FFDD55; color:black; }
.button { background-color: #AA0000; }
